<div class="container">
<h1>Editing Game</h1>

<%= render 'form', game: @game %>
<hr>
<%= link_to '<button class="btn-default indexx">Show</button>'.html_safe, @game %>
<%= link_to '<button class="btn-default indexx">Back</button>'.html_safe, games_path %>
</div>
