h1{
  font-family: 'Maven Pro', sans-serif;
}
body{
font-family: 'Open Sans', sans-serif;
}

.btn-default, .btn-warning{
  margin-bottom: 0.5em;
  min-width:5em;
}

@media (max-width: 768px)
.container {
    max-width: 90%;
}

  
  #wrap {
    min-height: 40%;
    background-color: grey;
  }
  
  #main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
  }
  
  .footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  }


