
<!--Footer-->
<footer class="page-footer font-small indigo pt-0">

    <!--Footer Links-->
    <div class="container">

    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright | MDBootstrap.com
    </div>
    <!--/Copyright-->
    </div>

</footer>
<!--/Footer-->


<%# 
<div class="row text-center">
   <div class="col-12">
       <hr class="light">
   </div>
   <div class="col">
       <a href=https://www.instagram.com/theroutinefix/><i class="fab fa-instagram"></i></a>
       <a href="https://www.pinterest.com.au/theroutinefix/"><i class="fab fa-pinterest"></i></a>  
       <a href="https://twitter.com/theroutinefix"><i class="fab fa-twitter"></i></a>    
   </div>
   <div class="col-6">
       <h5>&copy; Amy Evans</h5>
   </div>    
</div>
                       %>